.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #2ecc71; /* Green color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #27ae60; /* Darker green color */
}

.find-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .selector-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .search-container {
    font-family: 'Open Sans', sans-serif;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .search-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .selectors-container {
    margin-bottom: 20px;
  }
  
  .search-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #0056b3;
  }

.selector {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.selector-title {
  font-weight: bold;
}

.selector-content {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.popover {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active в версии 2.1.8+ */ {
  opacity: 0;
}
